.input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 5px 0;
  width: 100%;

  .input-icon,
  svg {
    width: 14px;
    height: 14px;
  }

  .input-icon-trail {
    position: absolute;
    top: -8px;
    left: 4px;
  }

  input {
    flex: 1;
    margin: 0 0 0 10px;
    padding: 8px 14px;
    border: 1px solid #bfbfbf;
    border-radius: 6px;
    font-size: 15px;
  }

  .input-additional-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    .input-additional-button {
      background: none;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}
